@import url(colors.css);



body {
    font-family: "sohne-var","Helvetica Neue","Arial",sans-serif;
    box-sizing: border-box;
    background-color: var(--white);
    font-weight: 500;
    overflow: scroll;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .container {
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
  }
  .project_box{
    border: 2px solid var(--black);
    width: 100%;
  }
  .searchbar {
    height: 100px;
}
  .searchbar form {
        text-align: center;
  }
  .searchbar .search{
    width: 30%;
    border: 2px solid var(--black);
  }
  .searchbar input{
    height: 20px;
}